body {
  font-family: 'NewsPlantin-Regular', serif;
  font-size: 20px;
  line-height: 1.1;
  color: #231f20;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-delay: .4s;
  animation-fill-mode: forwards;
  z-index: 3;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
}

header h1 img {
  width: 125px;
  margin-bottom: 6px;
}

header nav a {
  font-size: 1em;
  color: #231f20;
  margin-left: 50px;
  text-decoration: none;
}

header nav a:hover {
  color: #959595;
}

h2 {
  font-size: 3em;
  font-weight: normal;
  text-align: center;
  margin-top: 40vh;
  margin-bottom: 0;
}

.left-nav a {
  margin-right: 475px;
}

.carousel-cell {
  width: 100vw; /* full width */
  height: 100vh; /* height of carousel */
  margin-right: 0px;

}

.carousel-cell img {
  width: 100%;
}

.one {
  background-image: url(Images/Corporalidades1.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.two {
  background-image: url(Images/DSCF0919kok.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.three {
  background-image: url(Images/DSCF6187-2kok.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.four {
  background-image: url(Images/DSCF8557kok.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.five {
  background-image: url(Images/IMG_2619.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.six {
  background-image: url(Images/IMG_3456.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.seven {
  background-image: url(Images/RA101.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.description {
  margin-top: 250px;
  margin-left: 170px;
  margin-right: 170px;
  text-align: center;
  font-size: 18px;
}

.description p {
  font-size: 1.5em;
  line-height: 1.5;
}

.quote p {
  text-align: center;
  margin-top: 15px;
}

footer {
  position: fixed;
  bottom: 15px;
  left: 0;
  display: none;
  justify-content: space-between;
  padding-top: 5vh;
}

footer nav a {
  font-size: .90em;
  color: #231f20;
  margin-left: 15px;
  text-decoration: none;
}

/**Tablet Version**/

@media (max-width: 800px) {
  header {
    margin-left: 25px;
    margin-right: 25px;
  }

  header h1 img {
    width: 125px;
  }

  .description {
    margin-top: 300px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: .90em;
}
  footer {
    margin-left: 10px;
  }
}

/**Iphone Horizontal**/

@media (max-width: 610px) {
  header {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
  }
  header h1 img {
    width: 85px;
  }
  header nav a {
    font-size: .80em;
    margin-left: 25px;
  }

}

/**Iphone**/

@media (max-width: 465.5px) {
  header {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
  }

  header h1 img {
    width: 100px;
  }
  header nav a {
  display: none;
  }

  .carousel-cell {
    width: 100vw; /* full width */
    height: 38vh; /* height of carousel */
    margin-top: 110px;

  }


  .description {
    margin-top: 125px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: left;
    font-size: .90em;
  }

  .description p {
    font-size: .90em;
    line-height: 1.5;
  }
  footer {
    display: flex;
    opacity: 0;
    animation-name: fadeIn2;
    animation-duration: 3s;
    animation-delay: .4s;
    animation-fill-mode: forwards;
    z-index: 3;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    transform: translate(0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    transform: translate(0);
  }
  100% {
    opacity: 1;
  }
}
